@model IEnumerable<RentAMovie_v3.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Select Movie</h1>

<form asp-action="SelectMovie" asp-controller="RentalTransaction">
    <p>
        Search: <input style="color: black;"  type="text" name="SearchString" id="SearchString" placeholder="Search Movie by Title" />
        <input style="color: black;" type="submit" value="Search" />
    </p>
</form>
<div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center" style="flex-direction: column;">
        @foreach (var item in Model) {
            <form asp-action="SelectMovie" class="card p-2 my-2 w-75 d-flex justify-content-between" style="flex-direction: row;">
                <div class="" style="color: black;">
                    @Html.DisplayFor(modelItem => item.Title) @Html.DisplayFor(modelItem => item.YearOfRelease)
                    <input type="hidden" id="MovieId" value="@item.MovieId">
                </div>
                <div>
                    <input type="button" name="@item" value="Add" class="btn btn-secondary" />
                </div>
            </form>
        }
    </div>
</div>