@{
    ViewData["Title"] = "Login";
}
<html>
    <body>
        <div class="sign-up-form">
            <img src="~/css/websitelogo.jpg">
            <hr>
            <h1>Admin Log In</h1>
            <form asp-controller="Home" asp-action="Login">
                <input name="username" type="text" class="input-box" placeholder="Enter your Username">
                <input name="password" type="password" class="input-box" placeholder="Enter your Password">
                <button type="submit" asp-area="">Sign In</button> 
            </form>
        </div>
   </body>
</html>