@{
    ViewData["Title"] = "Admin Dashboard";
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
<link rel="stylesheet" href="~css/site.css" asp-append-version="true" />
  <style>
    body {
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(255, 255, 255);
    
    }

    button {
      background-color: #3220a7;
      color: white;
      padding: 18px 30px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 10px;
    }
  </style>
</head>
<body>
  <h1 style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Administrator Dashboard</h1>
  <button><a asp-area="" asp-controller="Customer" asp-action="Index">Customer Management</a></button>
  <button><a asp-area="" asp-controller="Movie" asp-action="Index">Movie Management</a></button>
  <button><a asp-area="" asp-controller="RentalTransaction" asp-action="Index">Rental Transactions</a></button>
  <button onclick="location.href='/reece-james.html'">Other</button>
</body>
</html>

