html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: white;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 60px;
  background-image: url(uibackground.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.sign-up-form

{
   width: 370px;
   box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
   background:#000000;
   padding: 20px;
   margin: 8% auto 0;
   text-align: center;
   margin-top: 180px;
}

.sign-up-form h1

{
    color: rgb(255, 255, 255);
    margin-bottom: 30px;

}

.input-box

{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #123ce0;
    outline: none;
    color: black;
}
.signup-btn
{
    background-color: rgb(75, 122, 203);
}
.facebook-btn
{
    background-color: navy;
}
.apple-btn
{
    background-color: black;
}
a
{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 80%;
}
.or
{
    background:#000046 ;
    width: 30px;
    margin: -19px auto 10px;
}
img
{
    width: 200px;
    margin-top: -50px;
}

.Sign-In
{
  color: #2c20d3;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.Sign-In:hover
{
  background-color:#2c20d3;
  color:white;
}

nav ul {
  text-align: center;
  list-style-type: none;
  margin-bottom: 50px;
  padding-top: 5px;
  background-color: #3220a7;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  margin-left: 40px;
  margin-right: 40px;
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}