body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(uibackground.jpg);
    background-size: cover;
    background-position: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
  }
  
  button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2c20d3;
    color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 20%;
    max-width: 100px;
  }
  