@model RentAMovie_v3.Models.Customer

@{
    ViewData["Title"] = "Contact Customer";
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Customers</title>
  <style>

.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  margin-top: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  color: black;
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}
  </style>

</head>

<h1>Contact Customer</h1>

<hr />

<form class="form">
    <div class="title"></div>
    <input type="text" placeholder="Customer Email" class="input" style = "color:black;">
    <textarea placeholder="Your message" style = "color:black;"></textarea>
     
    <button>Send Message</button>
</form>
